{% extends "console_base.html" %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="ui message">{{ message | safe}}</div>
{% endfor %}
{% endif %}
<table class="ui compact celled table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Memory (GB)</th>
        <th>CPU</th>
        <th class="ui center aligned">Actions</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for node in nodes %}
    <tr>
        <td>{{ node.name }}</td>
        <td>{{ node.memory }}</td>
        <td>{{ node.cpu }}</td>
        <td>
            <div class="ui center aligned ">
                <a class="ui center floated small teal labeled  button" href="/console/node/{{ node.id }}/">
                    Edit
                </a>
            </div>
        </td>
        <td class="ui center aligned">
            {% if node.status = 'pending' %}
                <i class="asterisk loading icon"></i>
            {% else %}
                <i class="check circle icon"></i>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot class="full-width">
    <tr>
        <th colspan="6">
            <a class="ui right floated large teal labeled  button" href="/console/node/add/">
                Add Node
            </a>
        </th>
    </tr>
    </tfoot>
</table>

{% endblock content %}